/* Classes */

.landing_section1_content {
    text-align: center;
}

.landing_section1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.landing {
    margin: auto;
    width: 70%;
}

.landing_table {
    margin: 15px;
}


@media
only screen and (max-width: 625px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr { border: 1px solid #ccc; }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 200px;
    margin-left: 125px;
    overflow-wrap: normal;
  }
  td:before {
    position: absolute;
    top: 12px;
    left: 6px;
    width: 200px;
    padding-right: 40px;
    white-space: nowrap;
    margin-left: -125px;
  }
  td:nth-of-type(1):before { content: "Job:"; }
  td:nth-of-type(2):before { content: "Company:"; }
  td:nth-of-type(3):before { content: "Date Applied:"; }
  td:nth-of-type(4):before { content: "Interview Date:";}
  td:nth-of-type(5):before { content: "Status:";}
}