/* Classes */

.landing_section1_content {

    text-align: center;
    width: 100%;
}

.landing_section1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    font-size: larger;
}
.landing {
    margin: auto;
    width: 70%;
}

.landing_table {
    margin: 15px;
}

.landing_login {
  text-decoration: none;
  color: #e27802;
  font-weight: bold;
}


