/* Classes */

.squarebutton {
    font-size: 20px;
    padding: 5px 5px;
    border-radius: 8px;
    border: gray;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.squarebutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}