/* Classes */

.resourceform_container {
    display: flex;
    flex-direction: column;
    font-size: larger;
}

.resourceform_form {
    margin-left: 20px;
    padding: 40px 0;
    max-width: 80%;
    text-align: left;
    padding-bottom: 40px;
}

.resourceform_header {
    max-width: 100%;
    text-align: left;
    margin-left: 20px;
    padding-top: 20px;
}

.resourceform_input {
    margin-bottom: 20px;
    font-size: large;
    border-style: solid;
}

/* Media Query */

@media only screen and (min-width: 650px) {

    .resourceform_form {
        margin: 0 auto;
    }

    .resourceform_header {
        text-align: center;
    }

}