a {
    text-decoration: none;
    color: #e27802;
}

/* Classes */

.appdetails {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    margin-bottom: 25px;
    text-align: left;
    font-size: large;
}

.appdetail_button {
    text-decoration: none;
    margin-right: 20px;
}

.appdetails_buttons {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.appdetails_container {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.appdetails_header {
    margin-left: 20px;
    text-align: left;
    padding-top: 20px;
}

.appdetails_small_container {
    margin-right: 20px;
    max-width: 100%;
    text-align: left;
    padding-bottom: 40px;
    font-size: larger;
}

/* Media Query */

@media only screen and (min-width: 425px) {
    .appdetails_buttons {
        flex-direction: row;
    }
}

@media only screen and (min-width: 700px) {

    .appdetails {
        text-align: left;
    }

    .appdetails_buttons {
        justify-content: center;
    }

    .appdetails_header {
        text-align: center;
    }

    .appdetails_small_container {
        width: 60%;
        margin: auto;
    }

}

