hr {
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    margin-bottom: 30px;
}

/* Classes */

.resource_item {
    margin-bottom: 20px;
}

.resources_section1, .resources_section2 {
    text-align: left;
}

.resources_section1_content {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
}

.resources_section2_content {
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
}

/* Media Query */

@media only screen and (min-width: 650px) {

    ul {
        list-style-position: inside
    }

    .resource_item {
        display: flex;
        justify-content: center;
    }
    
    .resources_section1, .resources_section2 {
        text-align: center;
    }

}