.resources_section1, .resources_section2 {
    text-align: left;
}

.resources_section1_content {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
}

.resources_section2_content {
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
}

.resource_item {
    margin-bottom: 20px;
}

ul {
    margin-bottom: 30px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

@media only screen and (min-width: 650px) {
    .resources_section1, .resources_section2 {
        text-align: center;
    }
    ul {
        list-style-position: inside
    }
    .resource_item {
        display: flex;
        justify-content: center;
    }
}