.demo_creds {
    text-align: center;
}

.login_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login_form {
    margin: 0 auto;
    padding: 40px 0;
    max-width: 80%;
    text-align: left;
}

.login_input {
    margin-bottom: 10px;
}