/* Classes */

.filter {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;
}

.main_header, .no_applications {
    text-align: center;
}

.section1 {
    text-align: center;
}

.section1_content {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
}

.section2_content {
    padding: 15px;
    text-align: center;
}

.section3 {
    margin-left: 20px;
    margin-right: 20px;
}

.quote {
    font-size: large;
}

/* ids */

#filter {
    border-style: solid;
}