nav {
    margin-left: 15px;
    font-size: medium;
}

/* Classes */

.header_navlink {
    text-decoration: none;
    padding-right: 10px;
    color: black;
}

@media screen and (min-width: 600px) {
    nav {
        margin-right: 15px;
        margin-top: 20px;
    }
}

