nav {
    margin-left: 15px;
    font-size: medium;
    display: flex;
    flex-wrap: wrap;
    /* overflow: wrap; */
}

/* Classes */

.header_navlink {
    text-decoration: none;
    padding-right: 10px;
    color: black;
}

