nav {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    font-size: medium;
}

/* Classes */

.header_navlink {
    text-decoration: none;
    padding-right: 10px;
    color: #e27802;
    font-weight: bold;
    font-size: larger;
}

.header_navlink:active {
    font-weight: bolder;
    color: #686d76;
}

@media screen and (min-width: 600px) {
    nav {
        margin-right: 15px;
        margin-top: 20px;
    }
}

