.signup_container {
    display: flex;
    flex-direction: column;
    font-size: larger;
}

.signup_form {
    margin-left: 20px;
    padding: 40px 0;
    max-width: 80%;
    text-align: left;
}

.signup_section {
    margin-bottom: 20px;
}

.password_reqs {
    line-height: 1;
    overflow-wrap: break-word;
}

.signup_error {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    color: #e27802;
    font-weight: bold;
}

.signup_input {
    font-size: large;
    border-style: solid;
}

@media only screen and (min-width: 650px) {

    .signup_form {
        margin: 0 auto;
    }
    .signup_error {
        text-align: center;
    }
}